<!-- <!DOCTYPE html>

<head>
    <link href="style.css" rel="stylesheet" />
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
 --->

<body>
    <section>
        <nav>
            <div>
                <img src="/assets/icons/logo used in header.svg" />
            </div>
        </nav>
    </section>

    <section>
        <div class="login-box ">
            <div class="blue-strip">

            </div>
            <div class="title ">
                Log in
            </div>

            <form>
                <input type="text" name="email" id="email" [(ngModel)]="email" placeholder="Email ID*"
                    class="select-input" />
                <div>
                    <label class="right">Forgot Password?</label>
                </div>
                <input class="select-input" type="password" [(ngModel)]="password" name="password" id="password"
                    placeholder="Password*" />
                <div>
                    <label class="right">Forgot Password?</label>
                </div>
                <div>
                    <input type="checkbox" />
                    Remember Me
                </div>
                <div class="flx">
                    <button class="login-btn" type="button" (click)="handleLogin()">LOG IN</button>
                </div>
                <div class="flx">
                    <div class="s12">Not registered yet?</div>
                    <div>
                        <a class="green" href="/create-account-one.html">CREATE AN ACCOUNT</a>
                    </div>
                </div>

            </form>
            <div class="abt">
                <div>
                    About
                </div>
                <div class="vr"></div>
                <div class="ml">
                    Contact Us
                </div>
            </div>
        </div>
    </section>



</body>
<!-- <script>
    async function handleLogin() {
        let email = document.getElementById('email').value;
        let password = document.getElementById('password').value;

        if (email != '' && password != '') {
            try {
                await fetch(`http://localhost:5185/api/UserLogin/${email}/${password}?password=${password}`,
                    {
                        method: 'GET',
                        mode: 'cors',
                        headers: {
                            'Content-Type': 'application/json',
                            'Access-Control-Allow-Origin': '*',
                            'Access-Control-Allow-Credentials': true,
                            'Access-Control-Allow-Methods': 'GET',
                            'Access-Control-Allow-Headers': '*'
                        }
                    })
                    .then(response => {
                        console.log('Response status code:', response.status); // Log the status code

                        if (response.ok) {
                            alert("logged in successfully")
                            return response.json(); // Parse the JSON response
                        } else {
                            alert("invalid username or password")
                            console.error('Request failed with status:', response.status); // Log the error status
                            throw new Error('Request failed');
                        }
                    })
                    .then(data => {
                        console.log(data);
                        location.href = 'http://127.0.0.1:5500/walk-in.html'
                    })
                    .catch(err => {
                        console.log(err);
                    })
            } catch (err) {
                console.log(err);
            }


        }
        else {
            alert("all fields are required");
        }


    }

</script> -->

<!-- </html> -->